* {
  
  margin: 0;
  padding: 0;
}
.background {
  background-color: #d6cc04;
  height: auto;
  width: auto;
}



.content {
  display: flex;
  flex-direction: column;
  
}

.header {
  align-self: center;
  height: 140px;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
}

.frame {
  padding: 100px;
  background-color: #c03133;
}

.top .title {
  display: flex;
  justify-content: center;
}





.sidebar {
  width: 250px;
  height: 600px;
  margin: 24px;
}


.option-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}



button {
  font-size: medium;
}

.size {
  display: flex;
  flex-direction: column;
}

#size {
 
}

#size-display {
  font-size: 24px;
  height: 1em;
  text-align: center;
}

.color-picker {
  display: flex;
  align-items: center;
}

label {
  font-size: 24px;
}

#color {
  margin-left: auto;
}

.shake {
  margin-left: auto;
}

.grid-background {
  background-image: url(./images/rickroll.webp);
}

.sketch-grid {
  background-color: #76948c;
  border: 1px solid #526661;
  width: 800px;
  height: 800px;
  display: grid;
  
}

.square {
  border: inherit;
}

.bottom {
  display: flex;
  justify-content: space-between;
}


