* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
.background {
  background-color: #918c2f;
  height: 100vh;
  width: auto;
}

.middle {
  display: flex;
}


.content {
  display: flex;
  flex-direction: column;
  
}

.header {
  align-self: center;
}

/* stuff here later */
.sidebar {
  width: 200px;
  height: 600px;
  margin: 24px;
}

.size {
  display: flex;
  flex-direction: column;
}

#size {
  default-value: 16;
 
}

#size-display {
  height: 1rem;
  text-align: center;
}

.sketch-grid {
  background-color: #76948c;
  width: 800px;
  height: 800px;
  display: grid;
}